PostSlack.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>39dfb6ac-016e-1000-4eb0-88c26548fd22</groupId>
    <name>PostSlack</name>
    <snippet>
        <processGroups>
            <id>cf0afcac-209a-3e06-0000-000000000000</id>
            <parentGroupId>23eaff22-3188-336f-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>cf0afcac-209a-3e06-963b-ffe91406ef67</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>0cd2b899-7fe5-35a9-0000-000000000000</id>
                    <parentGroupId>cf0afcac-209a-3e06-0000-000000000000</parentGroupId>
                    <versionedComponentId>0cd2b899-7fe5-35a9-8d6a-a314297cd470</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cf0afcac-209a-3e06-0000-000000000000</groupId>
                        <id>897474cf-e54d-3ac9-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>897474cf-e54d-3ac9-8598-53fedc610ba7</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>cf0afcac-209a-3e06-0000-000000000000</groupId>
                        <id>044e174a-244a-3c69-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>044e174a-244a-3c69-9468-7df92330a29c</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>121917de-ef1e-36f9-0000-000000000000</id>
                    <parentGroupId>cf0afcac-209a-3e06-0000-000000000000</parentGroupId>
                    <versionedComponentId>121917de-ef1e-36f9-9a15-86b45aee96e4</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cf0afcac-209a-3e06-0000-000000000000</groupId>
                        <id>897474cf-e54d-3ac9-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>897474cf-e54d-3ac9-8598-53fedc610ba7</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>cf0afcac-209a-3e06-0000-000000000000</groupId>
                        <id>6ca467de-914c-3717-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>6ca467de-914c-3717-a3c5-859395425473</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2d5109c6-4235-3400-0000-000000000000</id>
                    <parentGroupId>cf0afcac-209a-3e06-0000-000000000000</parentGroupId>
                    <versionedComponentId>2d5109c6-4235-3400-bf60-6202377b1447</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cf0afcac-209a-3e06-0000-000000000000</groupId>
                        <id>044e174a-244a-3c69-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>044e174a-244a-3c69-9468-7df92330a29c</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>cf0afcac-209a-3e06-0000-000000000000</groupId>
                        <id>0455f3c5-e2d6-348e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>0455f3c5-e2d6-348e-94dc-77e15bfb6ceb</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>41c2fa8a-52d3-3678-0000-000000000000</id>
                    <parentGroupId>cf0afcac-209a-3e06-0000-000000000000</parentGroupId>
                    <versionedComponentId>41c2fa8a-52d3-3678-87de-1d8c33f2a594</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cf0afcac-209a-3e06-0000-000000000000</groupId>
                        <id>0455f3c5-e2d6-348e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>0455f3c5-e2d6-348e-94dc-77e15bfb6ceb</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>cf0afcac-209a-3e06-0000-000000000000</groupId>
                        <id>6ca467de-914c-3717-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>6ca467de-914c-3717-a3c5-859395425473</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <funnels>
                    <id>897474cf-e54d-3ac9-0000-000000000000</id>
                    <parentGroupId>cf0afcac-209a-3e06-0000-000000000000</parentGroupId>
                    <position>
                        <x>1160.0</x>
                        <y>416.0</y>
                    </position>
                    <versionedComponentId>897474cf-e54d-3ac9-8598-53fedc610ba7</versionedComponentId>
                </funnels>
                <processors>
                    <id>044e174a-244a-3c69-0000-000000000000</id>
                    <parentGroupId>cf0afcac-209a-3e06-0000-000000000000</parentGroupId>
                    <position>
                        <x>472.0</x>
                        <y>696.0</y>
                    </position>
                    <versionedComponentId>044e174a-244a-3c69-9468-7df92330a29c</versionedComponentId>
                    <bundle>
                        <artifact>nifi-slack-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.10.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>post-message-url</key>
<value>
    <name>post-message-url</name>
</value>
                            </entry>
                            <entry>
<key>file-upload-url</key>
<value>
    <name>file-upload-url</name>
</value>
                            </entry>
                            <entry>
<key>access-token</key>
<value>
    <name>access-token</name>
</value>
                            </entry>
                            <entry>
<key>channel</key>
<value>
    <name>channel</name>
</value>
                            </entry>
                            <entry>
<key>text</key>
<value>
    <name>text</name>
</value>
                            </entry>
                            <entry>
<key>upload-flowfile</key>
<value>
    <name>upload-flowfile</name>
</value>
                            </entry>
                            <entry>
<key>file-title</key>
<value>
    <name>file-title</name>
</value>
                            </entry>
                            <entry>
<key>file-name</key>
<value>
    <name>file-name</name>
</value>
                            </entry>
                            <entry>
<key>file-mime-type</key>
<value>
    <name>file-mime-type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>post-message-url</key>
<value>https://slack.com/api/chat.postMessage</value>
                            </entry>
                            <entry>
<key>file-upload-url</key>
<value>https://slack.com/api/files.upload</value>
                            </entry>
                            <entry>
<key>access-token</key>
                            </entry>
                            <entry>
<key>channel</key>
<value>#workshop</value>
                            </entry>
                            <entry>
<key>text</key>
                            </entry>
                            <entry>
<key>upload-flowfile</key>
<value>true</value>
                            </entry>
                            <entry>
<key>file-title</key>
<value>${filename}</value>
                            </entry>
                            <entry>
<key>file-name</key>
<value>${filename}</value>
                            </entry>
                            <entry>
<key>file-mime-type</key>
<value>${mime.type}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>30 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PostSlack</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.slack.PostSlack</type>
                </processors>
                <processors>
                    <id>0455f3c5-e2d6-348e-0000-000000000000</id>
                    <parentGroupId>cf0afcac-209a-3e06-0000-000000000000</parentGroupId>
                    <position>
                        <x>480.0</x>
                        <y>440.0</y>
                    </position>
                    <versionedComponentId>0455f3c5-e2d6-348e-94dc-77e15bfb6ceb</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.10.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>mime.type</key>
<value>
    <name>mime.type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>mime.type</key>
<value>image/jpeg</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>6ca467de-914c-3717-0000-000000000000</id>
                    <parentGroupId>cf0afcac-209a-3e06-0000-000000000000</parentGroupId>
                    <position>
                        <x>488.0</x>
                        <y>168.0</y>
                    </position>
                    <versionedComponentId>6ca467de-914c-3717-a3c5-859395425473</versionedComponentId>
                    <bundle>
                        <artifact>nifi-GetWebCamera-nar</artifact>
                        <group>com.dataflowdeveloper</group>
                        <version>1.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>imagefilename</key>
<value>
    <name>imagefilename</name>
</value>
                            </entry>
                            <entry>
<key>cameraname</key>
<value>
    <name>cameraname</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>imagefilename</key>
<value>${UUID()}.jpg</value>
                            </entry>
                            <entry>
<key>cameraname</key>
<value>Display</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>30 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GetWebCameraProcessor</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>com.dataflowdeveloper.processors.GetWebCamera.GetWebCameraProcessor</type>
                </processors>
            </contents>
            <name>Demo</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>11/18/2019 12:23:11 EST</timestamp>
</template>
